:root {
    --cor01: #D9C896;
    --cor02: #D9CEAD;
    --cor03: #8C673A;
    --cor04: #401D16;
    --cor05: #CFBC8F;

    --font-logo: 'Beyond Wonderland', serif;
    --font-menu: 'balginextralight', sans-serif;
    --font-padrao: serif;

}

.titulo-galeria > h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 2em;
    color: var(--cor04);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.267);
}

.container {
    max-width: 1200px;

    padding: 0px 20px 0px 20px;

    margin: 20px auto;

    display: grid;
    grid-gap: 20px;

    justify-content: center;

    grid-template-areas: 
    "item item item";
}

.container > .item > img {
    width: 100%;
    border: 1px solid var(--cor04);
    box-sizing: border-box;

}

.item {
    max-width: 300px;
    min-width: 200px;
    min-height: 300px;
    

    grid-area: "item";
}

.item > h1 {
    text-align: center;
    color: #401D16;
    font-family: var(--font-menu);
    font-variant: small-caps;
}

.item > p {
    text-align: justify;
    text-indent: 10px;
    padding: 5px;
    font-family: var(--font-padrao);
    font-weight: lighter;
}

@media (max-width: 820px) {
    .container {
    grid-template-areas: 
    "item item";
}
}

@media (max-width: 650px) {
    .container {
        grid-template-areas: 
        "item";
    }
}   