@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    background: var(--cor02);
    min-height: 100vh;
    box-sizing: border-box;
}

@media (max-width: 825px) {
    /* Dispositivos com tela menor que 767px */
    #produtos {
      flex-direction: column; /* Altera a direção de flexbox para vertical */
      align-items: center; /* Centraliza os elementos verticalmente */
    }
  
    .fotos-produtos {
      margin-left: 0; /* Remove a margem esquerda para centralizar as divs filhas */
      margin-bottom: 20px; /* Adiciona uma margem inferior para separar as divs filhas */
    }
  }