@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    background: var(--cor02);
    min-height: 100vh;
    box-sizing: border-box;
}

@media (min-width: 821px) and (max-width: 1139px) {
    .foto-produto-p {
        display: block;
    }

    .foto-produto-m {
        display: none;
    }
  }

@media (max-width: 820px) {
    /* Dispositivos com tela menor que 820px */
    #produtos-menu {
      flex-direction: column; /* Altera a direção de flexbox para vertical */
      align-items: center; /* Centraliza os elementos verticalmente */
    }
  
    .fotos-produtos {
      margin-left: 0; /* Remove a margem esquerda para centralizar as divs filhas */
      margin-bottom: 20px; /* Adiciona uma margem inferior para separar as divs filhas */
    }

    .historia {
      width: 100%;
    }

    .historia > p {
      font-size: 0.6em;
    }
  }
