@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

@font-face {
    font-family: 'Beyond Wonderland', serif;
    src: url(../fonts/beyondwonderland.ttf);
}

:root {
    --cor01: #C19577;
    --cor02: #F3ACA3;
    --cor03: #A74C47;
    --cor04: #ec9693;
    --corbranco: white;
    --corpreto: black;

    --font-logo: 'Beyond Wonderland', serif;
    --font-padrao: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-menu: 'Yeseva One', cursive;

}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-padrao);
    font-size: 1em;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor01);
}

header {
    background-image: linear-gradient(to bottom, var(--cor02), var(--cor04));
}

header > h1, header > p {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.671);
}

header > h1 {
    color: var(--corbranco);
    font-family: var(--font-logo);
    font-weight: normal;
    font-size: 5em;
}

header > p {
    color: var(--corbranco);
    font-variant: small-caps;
    font-family: var(--font-menu);
    font-size: 1.5em;
}

menu{
    padding: 8px;
    margin-top: 10px;
    text-align: center;
}

menu > a {
    margin-left: 10px;
    padding: 8px;

    text-decoration: none;
    color: var(--corbranco);
    font-family: var(--font-menu);
    font-size: 1.2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.671);

    transition: .35s;
    cursor: pointer;
}

menu > a:hover {
    background-color: var(--cor03);
    color: var(--corbranco);
    border-radius: 8px 8px 0px 0px;
}

menu:hover > :not(:hover) {
    opacity: .5;
    transform: scale(0.9);
}

main {
    max-width: 50vw;
    margin: auto;
    background-color: var(--corbranco);
    border-radius: 0px 0px 8px 8px;
}

#quem-somos {
    padding: 5px 2px 2px 2px;
}

#quem-somos > h2 {
    text-align: center;
}

#quem-somos > p {
    text-indent: 10px;
    text-align: justify;

    padding: 2px 20px;
}

