@charset "UTF-8";

@font-face {
    font-family: 'Beyond Wonderland', serif;
    src: url(../fonts/beyondwonderland.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

:root {
    --cor01: #D9C896;
    --cor02: #D9CEAD;
    --cor03: #8C673A;
    --cor04: #401D16;
    --cor05: #CFBC8F;

    --font-logo: 'Beyond Wonderland', serif;
    --font-padrao: 'Times New Roman', Times, serif;
    --font-menu: 'Yeseva One', cursive;

}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    background: var(--cor02);
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(to top, var(--cor01), var(--cor05));
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.301);
}

#topo-cabecalho {
    padding-bottom: 30px;
}

#social {
    position: absolute;
    top: 5%;
    left: 80%;
}

.link-social{
    margin-right: 10px;
}


header h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 6em;
    font-family: var(--font-logo);
    font-weight: lighter;
    color: var(--cor04);
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.479);
}

header p {
    text-align: center;
    font-variant: small-caps;
    font-size: 1.5em;
    font-family: var(--font-padrao);
    color: var(--cor04);
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.479);
}

#desde-2010 {
    font-size: 1em;
}

menu{
    padding: 8px;
    margin-top: 10px;
    text-align: center;
    background: var(--cor04);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);

    min-width: 200px;
}

menu > a {
    padding: 8px;


    text-decoration: none;
    color: var(--cor02);
    font-family: var(--font-padrao);
    font-variant: small-caps;
    font-size: 1.2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.671);

    transition: .35s;
    cursor: pointer;
}

menu:hover > :not(:hover), #social:hover > :not(:hover) {
    opacity: .2;
    transform: scale(0.9);
}

#base-foto-topo {
    height: 50vh;
    position: relative;
    display: block;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url('../imagens/bolo-home.jpg');
    background-attachment: fixed;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.301);
}

.frase-inicio {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 4px;
    color: var(--cor02);
    background-color: #401d16d3;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
}

.historia {
    margin-bottom: 20px;
}

.historia > p {
    display: block;
    text-align: center;
    margin: 4px 20%;
    padding: 10px;
    font-size: 1.2em;
    text-indent: 20px;
    text-align: justify;
    background: #401D16;
    color: var(--cor02);
    font-family: var(--font-padrao);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
}



#produtos  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto;
    min-width: 80vw;    

    
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.199);
    
    }

    .fotos-produtos {
        flex: 1;
        box-sizing: border-box; 
        background-color: var(--cor01);
        padding: 8px;
        margin: 10px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.185);
    }

    .fotos-produtos > h2 {
        color: var(--cor04);
        font-size: 1.3em;
        font-variant: small-caps;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.199);
    }

    .fotos-produtos > a > img {
        border: 2px solid var(--cor02);
    }

    #base-foto-meio {
        height: 50vh;
        position: relative;
    
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('../imagens/brigadeiro.jpg');
        background-attachment: fixed;
        box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.301);
    }